@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 14%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 14%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 14%;

    --primary: 96 22% 38%;
    --primary-foreground: 210 40% 98%;

    --secondary: 100 14% 88%;
    --secondary-foreground: 96 22% 38%;

    --muted: 100 14% 88%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 80 26% 61%;
    --accent-foreground: 96 22% 38%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 0% 14%;

    --buttonoutline: 95 13% 72%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 86%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 86%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 86%;

    --primary: 96 22% 62%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 100 14% 12%;
    --secondary-foreground: 96 22% 62%;

    --muted: 100 14% 12%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 80 26% 39%;
    --accent-foreground: 96 22% 62%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 96 22% 62%;

    --border: 100 14% 12%;
    --input: 100 14% 12%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    padding: 0;
    margin: 0;
  }
}
