@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base: 0 0% 14%;
    --base-secondary: 0 1% 35%;
    --background: 0 0% 100%;
    --primary: 96 22% 38%;
    --secondary: 100 15% 88%;
    --accent: 80 26% 61%;
  }
  .dark {
    --base: 0 0% 86%;
    --base-secondary: 0 1% 65%;
    --background: 0 0% 0%;
    --primary: 96 22% 62%;
    --secondary: 100 15% 12%;
    --accent: 80 26% 39%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    padding: 0;
    margin: 0;
  }
}
