@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #242424;

    --card: #ffffff;
    --card-foreground: #242424;

    --popover: #ffffff;
    --popover-foreground: #242424;

    --primary: #5d764c;
    --primary-foreground: #f8fafc;

    --secondary: #dfe5dc;
    --secondary-foreground: #5d764c;

    --muted: #dfe5dc;
    --muted-foreground: #64748b;

    --accent: #a4b582;
    --accent-foreground: #5d764c;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #242424;

    --radius: 0.5rem;
  }

  .dark {
    --background: #000000;
    --foreground: #dbdbdb;

    --card: #000000;
    --card-foreground: #dbdbdb;

    --popover: #000000;
    --popover-foreground: #dbdbdb;

    --primary: #9ab389;
    --primary-foreground: #0f172a;

    --secondary: #1d231a;
    --secondary-foreground: #9ab389;

    --muted: #1d231a;
    --muted-foreground: #94a3b8;

    --accent: #6c7d4a;
    --accent-foreground: #9ab389;

    --destructive: #7f1d1d;
    --destructive-foreground: #9ab389;

    --border: #1d231a;
    --input: #1d231a;
    --ring: #cbd5e1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    padding: 0;
    margin: 0;
  }
}
